
section{
  background-color:#fff;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

footer{
  width: 40px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  margin-left: -20px;
}

.image1{
  background-image: url(the-pen.svg);
}
.image2{
  background-color: #000;
  background-image: url(is-mightier.svg);
}
.image3{
  background-image: url(than.svg);
}
.image4{
  background-color: #000;
  background-image: url(the-sword.svg);
}
.image5{
  background-color: #00f10a;
  background-image: url(end.svg);
}

